DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
OASIS_BASE=http://swoasis.espoch.edu.ec/OASis/OAS_Interop
OASIS_USER=
OASIS_PASS=
CORS_ORIGIN=*
PORT=3001
